.auth-layout {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding-top: 180px;
}

.auth-content {
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: start;
}

.logo-wrapper {
  margin-bottom: 80px;
  width: 178px;
  height: 32px;
}
