:root {
  /* COLORS */
  --white: #ffffff;
  --light-gray: #d3d8dc;
  --pale-gray: #bec5cc;
  --cod-gray: #1a1919;
  --hit-gray: #a1abb5;
  --porcelain: #e3e6e9;
  --royal-blue: #316fea;
  --mine-shaft: #383838;
}
